{% extends 'index.html' %}
{% block content %}
    <div class="about_content">
        <h1 class="subtitle">About</h1>
        <h1 class="content">This app was prepared by Kacper Kępa</h1>
        <h2>About Helldivers 2 Game Results Tracker</h2>
        <p>Welcome to the Helldivers 2 game results tracker project!
            This application is designed to help you keep track of your in-game performance,
            including individual round stats, dive logs, and overall performance metrics.</p>
        <p>Features of the Helldivers 2 Game Results Tracker include:</p>
        <ul>
            <li>Input and manage individual round information</li>
            <li>View detailed dive logs</li>
            <li>Access a comprehensive history of all dives</li>
            <li>Display and sort performance tables</li>
            <li>Analyze data to enhance gameplay tactics</li>
        </ul>
        <p>I hope this tracker enhances your Helldivers 2 experience by providing valuable insights into your gameplay performance.
            Dive in and start tracking!</p>
    </div>
{% endblock %}
