
{% extends 'index.html' %}
{% block content %}
<h1 class="subtitle">All Matches</h1>
<h1 class="content">This app was prepared by Kacper Kępa</h1>
{% endblock %}

<!--
 <!DOCTYPE html>
<html>
<head>
    <title>Data from Azure SQL Server</title>
</head>
<body>
    <h1>Data from Azure SQL Server</h1>
    <table>
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

 -->